#control-panel {
  position: relative;
  z-index: 500;
  box-shadow: 0 -3px 5px -1px rgba(0,0,0,.2);
  overflow-y: auto;
  height: 100%
}

app-vehicle-selection{
  display: inline-block;
  width: 55%;
}

button{
  margin-left: 0.8rem;
  display: inline-block;
}

@media (max-width: 767px) {
  #control-panel {
    height: 60%;
  }

  #map-pannel {
    height: 40%;
  }
}
