<div class="container-fluid h-100">
  <div class="row no-gutters h-100">
    <div class="col-md-5 col-lg-4 col-xl-3">
      <mat-card id="control-panel" class="h-100 mat-elevation-z5">
        <app-search-bar class="mb-4 w-100" (search)="onSearch($event)" (inputChange)="onAutoComplete($event)"
        [autoCompleteAddresses]="autoComplete$ | async"></app-search-bar>
        <app-vehicle-selection class="w-100"></app-vehicle-selection>
        <h3 class="w-100" id="results">Parkings</h3>
      </mat-card>
    </div>
    <div class="col-md-7 col-lg-8 col-xl-9">
      <app-map class="h-100 d-block"></app-map>
    </div>
  </div>
</div>
