<div class="container">
  <div class="row">
    <form class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">

      <h2>{{getHelloMessage()}}, vous pouvez vous connecter ici</h2>
      <mat-form-field class="w-100" id="firstfield">
        <label for="login"></label>
        <input matInput placeholder="E-mail" id="login">
      </mat-form-field>
      <mat-form-field class="w-100">
        <label for="password"></label>
        <input matInput placeholder="Mot de passe" id="password">
      </mat-form-field>
      <button mat-raised-button color="primary">Se connecter</button>
    </form>
  </div>
</div>
